<div class="font-bold">
    <p id="route-label">Rota</p>
</div>
<div class="add-route-container col-md-12">
    <div id="input-and-display-address" class="col-lg-6">
        <div class="form-group">
            <input class="form-control" #search [formControl]="searchControl" type="text" placeholder="Search for Location" autocorrect="off"
                autocapitalize="off" spellcheck="off">
        </div>
        <div id="addresses-container" *ngIf="addresses">
            <ul *ngFor="let address of addresses; let index = index; trackBy: trackByIndex;">
                <div class="line">
                    <div class="letter-marker">{{ alphabeticLabels[index] }}</div>
                    <div class="border">
                        <li>
                            <div>{{ address.logradouro }}</div>
                            <input placeholder="Complemento" [(ngModel)]="addresses[index].complemento">
                        </li>
                    </div>
                </div>
            </ul>
        </div>
        <div id="distance-container" *ngIf="distance">
            <div class="font-bold">
                <p id="distance-label">Distância</p>
            </div>
            <div id="distance-value">{{ distance }} km</div>
            <div class="price-container">
                    <div class="font-bold">
                        <p id="distance-label">Valor Total</p>
                    </div>
                    <div id="distance-value">{{ distance }} km</div>
                </div>
        </div>

    </div>
    <div id="map" class="col-lg-6">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">

            <agm-marker *ngFor="let m of markers; let i = index" [latitude]="m.lat" [longitude]="m.lng" [label]="m.label">
            </agm-marker>

        </agm-map>
    </div>
</div>
