<div [@routerTransition]>
    <app-page-header [heading]="'Cliente'" [icon]="'fa-address-book'"></app-page-header>
    <div class="row">
        <div class="col col-lg-12">
            <div class="buttons-container">
                <button class="btn btn-success" id="button-add-corrida" [routerLink]="['add-cliente']">Adicionar Cliente</button>
                <button class="btn btn-secondary" id="button-edit-corrida" (click)="onClickEdit()">Editar Cliente</button>
                <button class="btn btn-danger" id="button-delete-corrida" (click)="onClickDelete()">Deletar Cliente</button>
            </div>
            <div class="content-section implementation">
            </div>
        </div>
    </div>
</div>
