<div [@routerTransition]>
    <app-page-header [heading]="'Corrida'" [icon]="'fa-flag-checkered'"></app-page-header>
    <div class="row">
        <div class="col col-lg-12">
            <div class="buttons-container">
                <button class="btn btn-success" id="button-add-corrida">Adicionar Corrida</button>
                <button class="btn btn-secondary" id="button-edit-corrida">Editar Corrida</button>
                <button class="btn btn-danger" id="button-delete-corrida">Deletar Corrida</button>
            </div>
            <div class="content-section implementation">
                <p-table [value]="sales">
                    <ng-template pTemplate="header">
                        <tr class="text-center">
                            <th rowspan="2">ID</th>
                            <th rowspan="2">Data</th>
                            <th colspan="3">Horários</th>
                            <th colspan="2">Rota</th>
                            <th rowspan="2">Cliente</th>
                            <th rowspan="2">Biker</th>
                            <th rowspan="2">Preço</th>
                            <th rowspan="2">Forma de Pagamento</th>
                        </tr>
                        <tr class="text-center">
                            <th>Hora de Entrada</th>
                            <th>Hora de Coleta</th>
                            <th>Hora de Entrega</th>
                            <th>Endereço</th>
                            <th>Responsável</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-sale>
                        <tr>
                            <td>{{ sale.brand }}</td>
                            <td>31/03/2018</td>
                            <td>{{ sale.lastYearSale }}</td>
                            <td>{{ sale.thisYearSale }}</td>
                            <td>{{ sale.lastYearProfit }}</td>
                            <td>Rua José Loureiro, 139</td>
                            <td>Alcides</td>
                            <td>Leve 2 Go</td>
                            <td>Rodrigo</td>
                            <td>R$ 10</td>
                            <td>
                                <p-dropdown [options]="pagamento" [(ngModel)]="formaSelecionada" placeholder="Selecione" optionLabel="name" [showClear]="true" ></p-dropdown>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <tr>
                            <td colspan="9">Totals</td>
                            <td>$506,202</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>
